
@{
}

@model Book

@*Bootstrap change for mission 11*@
<div class="shadow p-3 rounded-lg">
    <h4 style="text-align: center;">@Model.Title</h4>
    <h5 style="text-align: center;">$@Model.Price</h5>
    <p style="font-size: 9px;">Author: @Model.Author</p>
    <p style="font-size: 9px;">Publisher: @Model.Publisher</p>
    <p style="font-size: 9px;">ISBN: @Model.ISBN</p>
    <p style="font-size: 9px;">@Model.Classification.ClassificationName</p>
    <p style="font-size: 9px;">@Model.Category.CategoryName</p>
    <p style="font-size: 9px;">Page Count: @Model.Pages</p>
    <p style="font-size: 9px; text-align: center;">@Model.BookId</p>

    <form method="post" asp-page="/Buy">
        <input type="hidden" asp-for="@Model.BookId"/>
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm">Buy</button>
        </span>
    </form>

</div>

