@page "/admin/books/edit/{id:long}"
@page "/admin/books/create"
@inherits OwningComponentBase<IBookRepository>

<style>
    div.validation-message {
        color: rgb(220,53,69);
        font-weight: 500;
    }
</style>


<h3 class="btn-@ThemeColor text-white text-center p-1 ">@TitleText</h3>

<EditForm Model="b" OnValidSubmit="SaveBook">

    <DataAnnotationsValidator></DataAnnotationsValidator>


    <div class="form-group">
        <label>Book Id:</label>
        <input class="form-control" disabled value="@b.BookId" />
    </div>

    <div class="form-group">
        <label>Title:</label>
        <ValidationMessage For="@(() => b.Title)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="b.Title"></InputText>
    </div>

    <div class="form-group">
        <label>Author:</label>
        <ValidationMessage For="@(() => b.Author)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="b.Author"></InputText>
    </div>

    <div class="form-group">
        <label>Publisher:</label>
        <ValidationMessage For="@(() => b.Publisher)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="b.Publisher"></InputText>
    </div>

    @*<div class="form-group">
        <label>Category:</label>
        <ValidationMessage For="@(() => b.Category)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="b.CategoryId">
            <option value=""></option>
        </InputNumber>
    </div>*@

    <div class="form-group">
        <label>Classification:</label>
        <ValidationMessage For="@(() => b.Classification)"></ValidationMessage>
        <InputSelect class="form-control" @bind-Value="b.ClassificationId">
            <option value="1">1</option>
            <option value="2">2</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Pages:</label>
        <ValidationMessage For="@(() => b.Pages)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="b.Pages"></InputNumber>
    </div>

    <div class="form-group">
        <label>Price:</label>
        <ValidationMessage For="@(() => b.Price)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="b.Price"></InputNumber>
    </div>

    <button type="submit" class="btn btn-@ThemeColor">@ButtonText</button>
    <NavLink class="btn btn-secondary" href="/admin">Cancel</NavLink>


</EditForm>




        @code {
            [Parameter]
            public long Id { get; set; } = 0;

            public string ThemeColor => Id == 0 ? "primary" : "warning";
            public string TitleText => Id == 0 ? "Create" : "Edit";
            public string ButtonText => Id == 0 ? "Add Book" : "Save";


            public Book b { get; set; } = new Book();

            public IBookRepository repo => Service;





            protected override void OnParametersSet()
            {

                if (Id != 0)
                {
                    b = repo.Books.FirstOrDefault(x => x.BookId == Id);
                }


            }

            public void SaveBook()
            {
                if (Id == 0)
                {
                    repo.CreateBook(b);
                }
                else
                {
                    repo.SaveBook(b);
                }

                NavManager.NavigateTo("/admin");
            }

            [Inject]
            public NavigationManager NavManager { get; set; }




        }
